<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BANDOLLECTIVE</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet" />

    <link rel="stylesheet" href="/css/double.css" />
    <link rel="stylesheet" href="/css/banmi.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.0.1/Tone.min.js"></script>

</head>

<body>
    {{>double}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/banmi.js"></script>
</body>

</html>