<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BANDOLLECTIVE</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet" />

    <link rel="stylesheet" href="/css/total.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/13.0.1/Tone.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.js"></script>


</head>

<body>

    {{!-- <div class="title">
        <img src="/img/title.png" style="padding-top:3%">
        <p class="grey" style="margin:0"> a network-based collective band performance</p>
    </div> --}}



    <div id="canvas">

    </div>

    <div id="playControl">
        <button id="play-btn">Start</button>
    </div>






    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/total.js"></script>


</body>

</html>