<div class="title">
    <img src="/img/title.png" style="padding-top:3%">
    <p class="grey" style="margin:0"> a network-based collective band performance</p>
</div>

<div class="intro">
    <p>Hello, you can adjust following parameters to controll </p><span id="ins">{{title}}</span>
    <p>Your input will be a part of a collective performance on the central channel.</p>
</div>



<form id="music-controls">

    <div class="brightness">
        <label>Brightness</label>
        <input class="b-range" type="range" min="1" max="6" value="1" step="1" />

    </div>
    <div class="speed">
        <label>Speed</label>
        <div class="speed-choose">
            <button class="speed-btn">Slow</button>
            <button class="speed-btn">Fast</button>
        </div>
    </div>

    <div class="control">
        <button id="playbtn">Play</button>
        <button id="return">Menu</button>
    </div>


</form>
<div class="instruction">
    <p style="padding-top:5%">Unmute your device. Press PLAY to start your music. Press Menu to try other
        instruments.</p>
</div>

<div class="wave">
    <img src="/img/wave.png" style="width:100%">
</div>